{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-vendor-prefix": true,
    "font-family-name-quotes": "always-where-recommended",
    "font-weight-notation": "named-where-possible",
    "function-url-quotes": "always",
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "property-no-unknown": [true, {
      ignoreProperties: ["composes"]
    }],
    "selector-attribute-quotes": "always",
    "selector-no-universal": true,
    "selector-no-vendor-prefix": true,
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }],
    "string-quotes": "single",
    "value-no-vendor-prefix": true
  }
}
